Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --ignore-path .eslintignore --fix

stylelint:
  run: npx stylelint {staged_files} --ignore-path .stylelintignore --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .prettierignore --write

bump snap
  components/ArticleCard/__snapshots__/ArticleCard.test.tsx.snap
Due: none

add modified date. update byline. add schema
  app/blog/[slug]/page.tsx
Due: eslint, prettier

add modified date to feed
  app/feed.xml/route.ts
Due: eslint, prettier

add author itemProp. add featured image
  app/blog/[slug]/page.tsx
Due: eslint, prettier

continue working on blog post
  app/[slug]/page.tsx
  app/blog/[slug]/page.tsx
  app/globals.css
  app/page.tsx
  components/Header/Header.module.css
Due: eslint, stylelint, prettier

update padding
  app/blog/page.tsx
Due: eslint, prettier

update padding
  app/[slug]/page.tsx
  app/blog/page.tsx
  app/page.tsx
  components/Header/Header.module.css
Due: eslint, stylelint, prettier

static generate pages. add sanitizeText
  app/[slug]/page.tsx
  lib/api/WP_Query.ts
  lib/functions/fetchPageBySlug.ts
  lib/functions/index.ts
  lib/functions/sanitizeText.test.ts
  lib/functions/sanitizeText.ts
Due: eslint, prettier

update env var
  app/api/revalidate/route.ts
Due: eslint, prettier

add <Byline>
  components/Byline/Byline.module.css
  components/Byline/Byline.tsx
  components/Byline/index.ts
  components/index.ts
Due: eslint, stylelint, prettier

use byline. use sanitizeText()
  app/blog/[slug]/page.tsx
  components/ArticleCard/ArticleCard.tsx
Due: eslint, prettier

generate blog posts at build time
  app/blog/[slug]/page.tsx
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

fix button
  app/globals.css
  components/Navigation/Navigation.module.css
  components/Navigation/Navigation.tsx
Due: eslint, stylelint, prettier

update comments
  app/[slug]/page.tsx
  app/blog/[slug]/page.tsx
  app/page.tsx
Due: eslint, prettier

adjust card/byline styles
  components/ArticleCard/ArticleCard.module.css
  components/ArticleCard/ArticleCard.tsx
  components/Byline/Byline.module.css
  components/Byline/Byline.tsx
Due: eslint, stylelint, prettier

remove sonar
  .lefthook.yml
  .vscode/settings.json
  package-lock.json
  package.json
  scripts/run-sonar.sh
  sonar-project.properties
Due: prettier

update extensions
  .vscode/extensions.json
Due: prettier

fix nav
  components/Navigation/Navigation.module.css
Due: stylelint, prettier

add progress bar. css tweaks
  app/globals.css
  app/layout.tsx
  lib/config.ts
  package-lock.json
  package.json
Due: eslint, stylelint, prettier

overflow control
  app/globals.css
Due: stylelint, prettier

update dirs. passing tests.
  components/ArticleCard/ArticleCard.test.tsx
  components/ArticleCard/__snapshots__/ArticleCard.test.tsx.snap
  components/Blocks/Blocks.test.tsx
  components/Comments/Comments.test.tsx
  components/Gallery/Gallery.test.tsx
  components/Header/__snapshots__/Header.test.tsx.snap
  components/Lightbox/Lightbox.test.tsx
  components/Navigation/__snapshots__/Navigation.test.tsx.snap
  lib/api/__tests__/WP_Query.test.ts
  lib/api/__tests__/comments.test.ts
  lib/api/__tests__/github.test.ts
  lib/api/__tests__/threads.test.ts
  lib/functions/__tests__/formatDate.test.ts
  lib/functions/__tests__/sanitizeComment.test.ts
  lib/functions/__tests__/sanitizeText.test.ts
  lib/functions/__tests__/yoastSeo.test.ts
  mocks/index.ts
  mocks/mockComments.ts
  mocks/mockPost.ts
  mocks/mockRepos.ts
  mocks/mockThreads.ts
  vitest.config.js
Due: eslint, prettier

check-in postman collection
  postman/gregrickaby.com.postman_collection.json
  postman/gregrickaby.com.postman_environment.json
Due: prettier

formatting
  postman/gregrickaby.com.postman_collection.json
  postman/gregrickaby.com.postman_environment.json
Due: prettier

allow console.info
  .eslintrc.js
Due: eslint, prettier

refactor revalidation endpoint
  app/api/revalidate/route.ts
Due: eslint, prettier

use _fields
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/feed.xml/route.ts
  app/page.tsx
  lib/api/WP_Query.ts
  lib/functions/fetchPageBySlug.ts
  lib/functions/sanitizeComment.ts
Due: eslint, prettier

use _fields
  app/sitemap.ts
Due: eslint, prettier

remove trailing slash
  lib/functions/yoastSeo.ts
Due: eslint, prettier

refactor feed
  app/feed.xml/route.ts
Due: eslint, prettier

update redirects
  next.config.mjs
Due: none

update alt url
  app/blog/page.tsx
  app/search/page.tsx
Due: eslint, prettier

update canonical url
  app/blog/page.tsx
  app/search/page.tsx
Due: eslint, prettier

fix test
  lib/functions/__tests__/yoastSeo.test.ts
Due: eslint, prettier

initial commit of next 15
  .eslintignore
  .eslintrc.js
  .lefthook.yml
  app/[slug]/page.tsx
  app/blog/[slug]/page.tsx
  app/layout.tsx
  app/not-found.tsx
  components/Blocks/Blocks.tsx
  eslint.config.mjs
  lib/api/__tests__/comments.test.ts
  next.config.ts
  package-lock.json
  package.json
Due: eslint, prettier

add eslint tests. fix tests
  components/ArticleCard/ArticleCard.test.tsx
  components/BackToTop/BackToTop.test.tsx
  components/Blocks/Blocks.test.tsx
  components/Footer/Footer.test.tsx
  components/Gallery/Gallery.module.css
  components/Gallery/Gallery.test.tsx
  components/Gallery/Gallery.tsx
  components/Gallery/__snapshots__/Gallery.test.tsx.snap
  components/Gallery/index.ts
  components/Header/Header.test.tsx
  components/JsonLd/JsonLd.test.tsx
  components/Lightbox/Lightbox.module.css
  components/Lightbox/Lightbox.test.tsx
  components/Lightbox/Lightbox.tsx
  components/Lightbox/index.ts
  components/Navigation/Navigation.test.tsx
  components/SocialLinks/SocialLinks.test.tsx
  components/index.ts
  lib/api/__tests__/threads.test.ts
  lib/api/index.ts
  lib/api/threads.ts
  lib/types.d.ts
  mocks/index.ts
  mocks/mockThreads.ts
Due: eslint, stylelint, prettier

update redirects
  next.config.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
  prettier: any of: *.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}
