Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --ignore-path .eslintignore --fix

stylelint:
  run: npx stylelint {staged_files} --ignore-path .stylelintignore --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .prettierignore --write

adjust padding
  app/globals.css
  app/page.tsx
Due: eslint, stylelint, prettier

dont sonar on commit hook
  .lefthook.yml
  sonar-project.properties
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

add on-demand revalidation support
  app/api/revalidate/route.ts
  lib/api/WP_Query.ts
Due: eslint, prettier

add test
  lib/api/WP_Query.test.ts
  lib/api/WP_Query.ts
Due: eslint, prettier

remove rm build and deploy
  .github/workflows/deploy.yml
  package.json
Due: prettier

enable threads videos
  app/photos/page.tsx
  components/Gallery/Gallery.module.css
  components/Gallery/Gallery.tsx
  components/Lightbox/Lightbox.tsx
Due: eslint, stylelint, prettier

bump snap
  components/Gallery/__snapshots__/Gallery.test.tsx.snap
Due: none

output url in error
  lib/api/WP_Query.ts
Due: eslint, prettier

add view comment support
  app/blog/[slug]/page.tsx
  components/Comments/Comments.module.css
  components/Comments/Comments.test.tsx
  components/Comments/Comments.tsx
  lib/api/comments.test.ts
  lib/api/comments.ts
  lib/functions/index.ts
  lib/functions/sanitizeComment.test.ts
  lib/functions/sanitizeComment.ts
  lib/mocks/index.ts
  lib/mocks/mockComments.ts
  lib/types.d.ts
Due: eslint, stylelint, prettier

clean ups
  app/photos/page.tsx
  components/Comments/index.ts
  components/Gallery/Gallery.tsx
  components/Lightbox/Lightbox.tsx
  components/index.ts
  lib/api/WP_Query.test.ts
  lib/api/WP_Query.ts
  lib/api/github.ts
  lib/api/index.ts
  lib/api/search.ts
  lib/api/threads.test.ts
  lib/api/threads.ts
  lib/functions/formatDate.test.ts
  lib/functions/yoastSeo.test.ts
  lib/mocks/mockPost.ts
  lib/mocks/mockRepos.ts
  lib/mocks/mockThreads.ts
  vitest.setup.ts
Due: eslint, prettier

word wrap for code in comments
  components/Comments/Comments.module.css
Due: stylelint, prettier

use env var
  lib/api/WP_Query.ts
Due: eslint, prettier

revert
  lib/api/WP_Query.ts
Due: eslint, prettier

remove message (for now)
  components/Comments/Comments.tsx
Due: eslint, prettier

update for now
  components/Comments/Comments.test.tsx
Due: eslint, prettier

fix header bug
  components/Header/__snapshots__/Header.test.tsx.snap
  components/Navigation/Navigation.tsx
  components/Navigation/__snapshots__/Navigation.test.tsx.snap
Due: eslint, prettier

update env var
  lib/api/comments.ts
  lib/api/search.ts
Due: eslint, prettier

comment submission support
  app/blog/[slug]/page.tsx
  app/globals.css
  components/Comments/CommentForm.tsx
  components/Comments/Comments.test.tsx
  components/Comments/Comments.tsx
  components/Search/Search.tsx
  lib/api/WP_Query.test.ts
  lib/api/comments.test.ts
  lib/api/comments.ts
  package-lock.json
  package.json
Due: eslint, stylelint, prettier

fix search results
  components/Search/Search.tsx
  lib/api/search.ts
Due: eslint, prettier

fix mobile padding
  app/globals.css
Due: stylelint, prettier

quick clean ups
  lib/api/github.ts
  lib/api/threads.ts
Due: eslint, prettier

remove /photos route
  app/photos/page.tsx
  lib/config.ts
Due: eslint, prettier

update photo link
  app/page.tsx
Due: eslint, prettier

bump snaps
  components/Header/__snapshots__/Header.test.tsx.snap
  components/Navigation/__snapshots__/Navigation.test.tsx.snap
Due: none

update date format
  lib/functions/formatDate.test.ts
  lib/functions/formatDate.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
  prettier: any of: *.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}
