Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

.lefthook.yml:

$schema: 'https://json.schemastore.org/lefthook.json'

# Lint and format staged files prior to commit.
pre-commit:
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: 'npx eslint {staged_files} --ignore-path .eslintignore --fix'
    stylelint:
      glob: '*.css'
      run: 'npx stylelint {staged_files} --ignore-path .stylelintignore --fix'
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}'
      run: 'npx prettier {staged_files} --ignore-path .prettierignore --write'

# Run tests prior to push.
pre-push:
  commands:
    tests:
      run: npx vitest run

add status
  app/sitemap.ts
Due: eslint, prettier

add metadata
  app/not-found.tsx
Due: eslint, prettier

add redirct
  next.config.ts
Due: eslint, prettier

add redirect
  next.config.ts
Due: eslint, prettier

check in blank ads.txt
  public/ads.txt
Due: none

remove space
  lib/api/WP_Query.ts
Due: eslint, prettier

add redirects
  next.config.ts
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

patch
  package-lock.json
Due: prettier

replace masonry with pure css
  app/globals.css
  components/Blocks/Blocks.tsx
  package-lock.json
  package.json
Due: eslint, stylelint, prettier

allow either (.com or .test)
  next.config.ts
Due: eslint, prettier

remove fancybox
  package-lock.json
  package.json
Due: prettier

remove global css for acf photo gallery
  app/globals.css
Due: stylelint, prettier

level up block handling
  app/globals.css
  components/Blocks/Blocks.module.css
  components/Blocks/Blocks.tsx
Due: eslint, stylelint, prettier

level up comment styles
  app/blog/[slug]/page.tsx
  components/Comments/CommentForm.tsx
  components/Comments/Comments.tsx
Due: eslint, prettier

comment updates
  app/globals.css
  components/CommentForm/CommentForm.module.css
  components/CommentForm/CommentForm.tsx
  components/CommentForm/index.ts
  components/Comments/Comments.module.css
  components/Comments/Comments.tsx
  components/index.ts
Due: eslint, stylelint, prettier

gallery updates
  components/Blocks/Blocks.module.css
Due: stylelint, prettier

update text
  app/search/page.tsx
Due: eslint, prettier

dependency bump
  package-lock.json
Due: prettier

initial commit of preview
  app/preview/[id]/page.tsx
Due: eslint, prettier

create preview page
  app/preview/[id]/page.tsx
Due: eslint, prettier

Update README.md
  README.md
Due: prettier
