Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

.lefthook.yml:

$schema: 'https://json.schemastore.org/lefthook.json'

# Lint and format staged files prior to commit.
pre-commit:
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: 'npx eslint {staged_files} --ignore-path .eslintignore --fix'
    stylelint:
      glob: '*.css'
      run: 'npx stylelint {staged_files} --ignore-path .stylelintignore --fix'
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}'
      run: 'npx prettier {staged_files} --ignore-path .prettierignore --write'

# Run tests prior to push.
pre-push:
  commands:
    tests:
      run: npx vitest run

add types
  app/robots.ts
Due: eslint, prettier

update disallow list
  app/robots.ts
Due: eslint, prettier

restructure
  app/robots.ts
Due: eslint, prettier

update sitemap
  app/sitemap.ts
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

update email
  lib/api/sendEmail.ts
Due: eslint, prettier

update config
  eslint.config.mjs
Due: none

update bio. get geocities page working again!
  README.md
  app/page.tsx
  geocities/background.webp
  geocities/bridge-crew.webp
  geocities/button-down.svg
  geocities/button-up.svg
  geocities/comic_sans.woff2
  geocities/counter.webp
  geocities/earth.webp
  geocities/enterprise.webp
  geocities/flames.webp
  geocities/geocities.css
  geocities/hasselhoff.webp
  geocities/ie.webp
  geocities/ms_sans_serif.woff2
  geocities/ms_sans_serif_bold.woff2
  geocities/netscape.webp
  geocities/notepad.webp
  geocities/script.js
  geocities/scrollbar-background.svg
  geocities/star-trek-modem.mp3
  geocities/welcome.webp
  next.config.ts
  public/geocities/combadge.gif
  public/geocities/comic_sans.woff2
  public/geocities/comic_sans_bold.woff2
  public/geocities/commander-data-sarcasm.gif
  public/geocities/counter.gif
  public/geocities/dialup.webp
  public/geocities/earth.gif
  public/geocities/enterprise.webp
  public/geocities/flames.gif
  public/geocities/ie.gif
  public/geocities/index.html
  public/geocities/netscape.gif
  public/geocities/notepad.gif
  public/geocities/star-trek-modem.mp3
  public/geocities/starstwinkle.gif
  public/geocities/welcome.gif
Due: eslint, stylelint, prettier

update font face
  public/geocities/index.html
Due: prettier

update manifest
  app/manifest.ts
Due: eslint, prettier

update bio
  README.md
  app/page.tsx
  lib/config.ts
  public/geocities/index.html
Due: eslint, prettier

new photo page layout
  app/photos/page.tsx
  components/Portfolio/Portfolio.module.css
  components/Portfolio/Portfolio.tsx
  lib/functions/formatCameraName.ts
  lib/functions/formatShutterSpeed.ts
  public/camera-icons.woff2
Due: eslint, stylelint, prettier

fix meta mobile styles
  components/Portfolio/Portfolio.module.css
Due: stylelint, prettier

bump bio
  app/page.tsx
Due: eslint, prettier

fix full-width images
  app/globals.css
Due: stylelint, prettier

div to main
  app/blog/[slug]/page.tsx
Due: eslint, prettier

add instagram
  app/contact/page.tsx
  lib/config.ts
Due: eslint, prettier

add link to instagram
  README.md
  app/photos/page.tsx
Due: eslint, prettier

add flickr
  app/photos/page.tsx
  lib/config.ts
  package-lock.json
  package.json
Due: eslint, prettier

upgrade to tailwind v4
  .lefthook.yml
  .stylelintignore
  .stylelintrc.js
  README.md
  app/blog/[slug]/page.tsx
  app/globals.css
  components/ArticleCard/ArticleCard.module.css
  components/BackToTop/BackToTop.module.css
  components/Blocks/Blocks.module.css
  components/Byline/Byline.module.css
  components/CommentForm/CommentForm.module.css
  components/Comments/Comments.module.css
  components/ContactForm/ContactForm.module.css
  components/Footer/Footer.module.css
  components/Header/Header.module.css
  components/HeroImages/HeroImages.module.css
  components/Navigation/Navigation.module.css
  components/Portfolio/Portfolio.module.css
  components/Search/Search.module.css
  components/SocialLinks/SocialLinks.module.css
  package-lock.json
  package.json
  postcss.config.mjs
Due: eslint, stylelint, prettier

add homepage image carousel
  README.md
  app/page.tsx
  components/Carousel/Carousel.module.css
  components/Carousel/Carousel.tsx
  components/Header/Header.tsx
  components/HeroImages/HeroImages.module.css
  components/Navigation/Navigation.module.css
  lib/config.ts
  lib/functions/getCarouselImages.ts
  package-lock.json
  package.json
  public/carousel/DSC02796.jpg
  public/carousel/P1000785.jpg
  public/carousel/_1010592-HDR.jpg
  public/carousel/_1010882.jpg
  public/carousel/_DSC0031-HDR.jpg
  public/carousel/_DSC3688.jpg
  public/carousel/_DSC3821-HDR.jpg
  public/carousel/_DSC4730.jpg
  public/carousel/_DSC5757.jpg
  public/carousel/_DSC7034.jpg
  public/carousel/_DSC7655.jpg
  public/carousel/_DSC8079.jpg
  public/carousel/_DSC8680.jpg
  public/carousel/_DSC8712.jpg
  public/carousel/_DSC9490-HDR.jpg
Due: eslint, stylelint, prettier

adjust footer spacing
  components/Footer/Footer.module.css
Due: stylelint, prettier

fix css
  components/Portfolio/Portfolio.module.css
Due: stylelint, prettier

carousel and color tweaks
  app/blog/[slug]/page.tsx
  app/globals.css
  components/ArticleCard/ArticleCard.module.css
  components/Byline/Byline.module.css
  components/Carousel/Carousel.module.css
  components/Carousel/Carousel.tsx
  components/Comments/Comments.module.css
  components/Navigation/Navigation.module.css
  components/Portfolio/Portfolio.module.css
  components/Search/Search.module.css
  lib/functions/getCarouselImages.ts
  package-lock.json
  package.json
Due: eslint, stylelint, prettier

don't optimize images. add avif gain maps versions.
  components/Carousel/Carousel.tsx
  lib/functions/getCarouselImages.ts
  public/carousel/DSC02796.avif
  public/carousel/DSC02796.jpg
  public/carousel/P1000785.avif
  public/carousel/P1000785.jpg
  public/carousel/P1000816.avif
  public/carousel/_1010592-HDR.avif
  public/carousel/_1010592-HDR.jpg
  public/carousel/_1010882.avif
  public/carousel/_1010882.jpg
  public/carousel/_1055145-Enhanced-NR.avif
  public/carousel/_1180101.avif
  public/carousel/_DSC0031-HDR.avif
  public/carousel/_DSC0031-HDR.jpg
  public/carousel/_DSC3510.avif
  public/carousel/_DSC3688.avif
  public/carousel/_DSC3688.jpg
  public/carousel/_DSC3821-HDR.avif
  public/carousel/_DSC3821-HDR.jpg
  public/carousel/_DSC4730.avif
  public/carousel/_DSC4730.jpg
  public/carousel/_DSC5059-stacked-with-sky.avif
  public/carousel/_DSC5757.avif
  public/carousel/_DSC5757.jpg
  public/carousel/_DSC7034.avif
  public/carousel/_DSC7034.jpg
  public/carousel/_DSC7655.avif
  public/carousel/_DSC7655.jpg
  public/carousel/_DSC7921.avif
  public/carousel/_DSC7962.avif
  public/carousel/_DSC8079.avif
  public/carousel/_DSC8079.jpg
  public/carousel/_DSC8680.avif
  public/carousel/_DSC8680.jpg
  public/carousel/_DSC8712.avif
  public/carousel/_DSC8712.jpg
  public/carousel/_DSC9315.avif
  public/carousel/_DSC9490-HDR.avif
  public/carousel/_DSC9490-HDR.jpg
Due: eslint, prettier

adjust top padding
  app/page.tsx
Due: eslint, prettier
