Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --ignore-path .eslintignore --fix

stylelint:
  run: npx stylelint {staged_files} --ignore-path .stylelintignore --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .prettierignore --write

update WP_Query types
  lib/api/WP_Query.ts
Due: eslint, prettier

continue refactor an optimize of WP_Query
  lib/api/WP_Query.test.ts
  lib/api/WP_Query.ts
Due: eslint, prettier

use WP_Query
  app/[slug]/page.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/feed.xml/route.ts
  app/page.tsx
Due: eslint, prettier

dpendency bump
  package-lock.json
  package.json
Due: prettier

remove old files
  lib/api/index.ts
  lib/api/wordpress.test.ts
  lib/api/wordpress.ts
  lib/types.d.ts
Due: eslint, prettier

use WP_Query
  app/sitemap.ts
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

configure vitest for env vars
  vitest.config.js
Due: eslint, prettier

display latest photos from threads
  app/page.tsx
  lib/api/threads.test.ts
  lib/api/threads.ts
  lib/config.ts
  lib/mocks/mockThreads.ts
Due: eslint, prettier

bump snaps
  components/Header/__snapshots__/Header.test.tsx.snap
  components/Navigation/__snapshots__/Navigation.test.tsx.snap
Due: none

add article card and infinite scroll to archive
  app/blog/page.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  app/photos/page.tsx
  components/ArticleCard/ArticleCard.module.css
  components/ArticleCard/ArticleCard.test.tsx
  components/ArticleCard/ArticleCard.tsx
  components/ArticleCard/__snapshots__/ArticleCard.test.tsx.snap
  components/ArticleCard/index.ts
  components/BlogArchive/BlogArchive.tsx
  components/BlogArchive/index.ts
  components/Header/__snapshots__/Header.test.tsx.snap
  components/Navigation/__snapshots__/Navigation.test.tsx.snap
  components/SocialLinks/SocialLinks.tsx
  components/SocialLinks/__snapshots__/SocialLinks.test.tsx.snap
  components/index.ts
  lib/api/index.ts
  lib/config.ts
  package-lock.json
  package.json
Due: eslint, stylelint, prettier

bump snap
  components/ArticleCard/__snapshots__/ArticleCard.test.tsx.snap
Due: none

add gallery and lightbox componets
  app/photos/page.tsx
  components/BlogArchive/BlogArchive.tsx
  components/Gallery/Gallery.module.css
  components/Gallery/Gallery.test.tsx
  components/Gallery/Gallery.tsx
  components/Gallery/__snapshots__/Gallery.test.tsx.snap
  components/Gallery/index.ts
  components/Lightbox/Lightbox.module.css
  components/Lightbox/Lightbox.test.tsx
  components/Lightbox/Lightbox.tsx
  components/Lightbox/index.ts
  components/index.ts
  lib/mocks/mockThreads.ts
  lib/types.d.ts
Due: eslint, stylelint, prettier

tweak homepage
  app/page.tsx
Due: eslint, prettier

change cv to resume
  components/Header/__snapshots__/Header.test.tsx.snap
  components/Navigation/__snapshots__/Navigation.test.tsx.snap
  lib/config.ts
Due: eslint, prettier

dependency bump
  app/contact/Page.tsx
Due: eslint, prettier

remove contact
  app/contact/Page.tsx
Due: eslint, prettier

update reddit viewer link
  app/page.tsx
Due: eslint, prettier

fix hydration error
  components/ArticleCard/ArticleCard.tsx
Due: eslint, prettier

update title
  app/photos/page.tsx
Due: eslint, prettier

update snap
  components/ArticleCard/__snapshots__/ArticleCard.test.tsx.snap
Due: none

filter out text-based threads
  lib/api/threads.ts
Due: eslint, prettier

update threads test
  lib/api/threads.test.ts
Due: eslint, prettier

add time-based revalidation
  lib/api/WP_Query.test.ts
  lib/api/WP_Query.ts
  lib/api/github.test.ts
  lib/api/github.ts
  lib/api/threads.ts
Due: eslint, prettier

add search
  app/globals.css
  app/not-found.tsx
  app/search/page.tsx
  components/Search/Search.module.css
  components/Search/Search.tsx
  components/Search/index.ts
  lib/api/search.ts
  lib/config.ts
  lib/types.d.ts
  package-lock.json
  package.json
Due: eslint, stylelint, prettier

adjust nav responsive
  components/Navigation/Navigation.module.css
Due: stylelint, prettier

fix that grid
  app/globals.css
Due: stylelint, prettier

simplify homepage
  app/page.tsx
Due: eslint, prettier

refine header and nav layout and styles
  components/Header/Header.module.css
  components/Header/Header.tsx
  components/Header/__snapshots__/Header.test.tsx.snap
  components/Navigation/Navigation.module.css
  components/Navigation/Navigation.test.tsx
  components/Navigation/Navigation.tsx
  components/Navigation/__snapshots__/Navigation.test.tsx.snap
Due: eslint, stylelint, prettier

add loader and refine styles
  components/Search/Search.module.css
  components/Search/Search.tsx
Due: eslint, stylelint, prettier

add github, move search and rss to icons
  lib/config.ts
Due: eslint, prettier

add metadata
  app/photos/page.tsx
  app/search/page.tsx
Due: eslint, prettier

add sonarqube / sonar scan support
  .gitignore
  .vscode/settings.json
  package.json
  scripts/run-sonar.sh
  sonar-project.properties
  vitest.config.js
Due: eslint, prettier

update lefthook
  .lefthook.yml
Due: prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
  prettier: any of: *.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}
