Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

.lefthook.yml:

$schema: 'https://json.schemastore.org/lefthook.json'

# Lint and format staged files prior to commit.
pre-commit:
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: 'npx eslint {staged_files} --ignore-path .eslintignore --fix'
    stylelint:
      glob: '*.css'
      run: 'npx stylelint {staged_files} --ignore-path .stylelintignore --fix'
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}'
      run: 'npx prettier {staged_files} --ignore-path .prettierignore --write'

# Run tests prior to push.
pre-push:
  commands:
    tests:
      run: npx vitest run

dependency bump
  README.md
  package-lock.json
  package.json
Due: prettier

update config and links
  app/page.tsx
  lib/config.ts
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

add contact form
  app/contact/page.tsx
  components/ContactForm/ContactForm.module.css
  components/ContactForm/ContactForm.tsx
  lib/api/sendEmail.ts
Due: eslint, stylelint, prettier

remove most social
  README.md
  lib/config.ts
Due: eslint, prettier

link to photos
  app/page.tsx
Due: eslint, prettier

add metadata
  app/contact/page.tsx
Due: eslint, prettier

remove tests/snaps
  components/Blocks/Blocks.test.tsx
  components/Blocks/__snapshots__/Blocks.test.tsx.snap
Due: eslint, prettier

add photos
  app/photos/page.tsx
  components/Photos/Photos.module.css
  components/Photos/Photos.tsx
  lib/api/cloudinary.ts
  lib/types.d.ts
  next.config.ts
Due: eslint, stylelint, prettier

adjust columns
  components/Photos/Photos.module.css
Due: stylelint, prettier

use transformation url. good quality
  app/photos/page.tsx
  components/Photos/Photos.tsx
  lib/types.d.ts
Due: eslint, prettier

bump intro
  app/photos/page.tsx
Due: eslint, prettier

clean ups
  lib/api/cloudinary.ts
  lib/config.ts
Due: eslint, prettier

remove circular deps
  app/[slug]/page.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/contact/page.tsx
  app/feed.xml/route.ts
  app/page.tsx
  app/preview/[id]/page.tsx
  app/sitemap.ts
  components/ArticleCard/ArticleCard.tsx
  components/BlogArchive/BlogArchive.tsx
  components/Byline/Byline.tsx
  components/CommentForm/CommentForm.tsx
  components/Comments/Comments.tsx
  lib/api/__tests__/WP_Query.test.ts
  lib/api/comments.ts
  lib/api/github.ts
  lib/api/index.ts
  lib/api/sendEmail.ts
  lib/functions/fetchPageBySlug.ts
  lib/functions/index.ts
Due: eslint, prettier

bump to 22
  .nvmrc
Due: none

bump redirects
  next.config.ts
Due: eslint, prettier

update redirects
  next.config.ts
Due: eslint, prettier

update sitemap logic
  app/sitemap.ts
Due: eslint, prettier

initial commit
  app/photos/page.tsx
  components/Comments/Comments.test.tsx
  components/Portfolio/Portfolio.module.css
  components/Portfolio/Portfolio.tsx
  lib/api/WP_Query.ts
  lib/api/__tests__/github.test.ts
  lib/api/photos.ts
  lib/functions/__tests__/formatDate.test.ts
  lib/functions/__tests__/sanitizeComment.test.ts
  lib/functions/__tests__/yoastSeo.test.ts
  lib/types.d.ts
Due: eslint, stylelint, prettier

stylelint rule update
  .stylelintrc.js
Due: eslint, prettier

make stylelint work with tailwind
  .stylelintrc.js
Due: eslint, prettier

format configs
  .prettierignore
Due: none

add fancybox config
  lib/config.ts
Due: eslint, prettier

add formatShutterspeed
  lib/functions/formatShutterSpeed.ts
Due: eslint, prettier

style portfolio. use new helper functions and config
  components/Portfolio/Portfolio.module.css
  components/Portfolio/Portfolio.tsx
Due: eslint, stylelint, prettier

update comment
  lib/api/WP_Query.ts
Due: eslint, prettier

add revalidation support
  lib/api/photos.ts
Due: eslint, prettier

update sort
  lib/api/photos.ts
Due: eslint, prettier

fix sorting
  lib/api/photos.ts
Due: eslint, prettier

photo grid tweaks
  components/Portfolio/Portfolio.module.css
  components/Portfolio/Portfolio.tsx
Due: eslint, stylelint, prettier

bump readme
  README.md
Due: prettier

add comma
  app/page.tsx
Due: eslint, prettier

block ai
  app/robots.ts
Due: eslint, prettier
