Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

.lefthook.yml:

$schema: 'https://json.schemastore.org/lefthook.json'

# Lint and format staged files prior to commit.
pre-commit:
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: 'npx eslint {staged_files} --ignore-path .eslintignore --fix'
    stylelint:
      glob: '*.css'
      run: 'npx stylelint {staged_files} --ignore-path .stylelintignore --fix'
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}'
      run: 'npx prettier {staged_files} --ignore-path .prettierignore --write'

# Run tests prior to push.
pre-push:
  commands:
    tests:
      run: npx vitest run

stop using next canary
  next.config.mjs
  package-lock.json
  package.json
Due: prettier

refactor typography
  app/[slug]/page.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Navigation.tsx
  lib/config.ts
  lib/functions.ts
  tailwind.config.ts
Due: eslint, stylelint, prettier

add clsx
  package-lock.json
  package.json
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

move types
  lib/types.d.ts
  types.d.ts
Due: eslint, prettier

update npm command
  .github/workflows/assertions.yml
Due: prettier

mock console
  __tests__/api.test.ts
Due: eslint, prettier

update imports
  __tests__/__mocks__/mockPost.ts
  __tests__/__mocks__/mockRepos.ts
  app/sitemap.ts
  lib/api.ts
Due: eslint, prettier

fix tests
  __tests__/Header.test.tsx
  __tests__/Navigation.test.tsx
  __tests__/formatDate.test.ts
Due: eslint, prettier

refactor typography
  app/[slug]/page.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/page.tsx
  components/Navigation.tsx
Due: eslint, prettier

bump snapshots
  __tests__/__snapshots__/Footer.test.tsx.snap
  __tests__/__snapshots__/Header.test.tsx.snap
  __tests__/__snapshots__/Navigation.test.tsx.snap
Due: none

continue refining styles
  app/[slug]/page.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/layout.tsx
  app/page.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Navigation.tsx
  tailwind.config.ts
Due: eslint, prettier

update tests and snapshots
  __tests__/Footer.test.tsx
  __tests__/__snapshots__/Footer.test.tsx.snap
  __tests__/__snapshots__/Header.test.tsx.snap
  __tests__/__snapshots__/Navigation.test.tsx.snap
Due: eslint, prettier

add type and ignore any
  tailwind.config.ts
Due: eslint, prettier

edit route
  app/feed.xml/route.ts
Due: eslint, prettier

check for console.log
  .eslintrc.json
Due: prettier

adjust packages. add masonry, images loaded, autoprefixer
  package-lock.json
  package.json
Due: prettier

add grd photo gallery styles
  app/globals.css
Due: stylelint, prettier

add grd photo gallery support
  app/blog/[slug]/page.tsx
  components/Blocks.tsx
Due: eslint, prettier

update eslint rules
  .eslintrc.js
  .eslintrc.json
Due: eslint, prettier

formatDate can take strings
  __tests__/formatDate.test.ts
  lib/functions.ts
Due: eslint, prettier

update types and mock post
  __tests__/__mocks__/mockPost.ts
  lib/types.d.ts
Due: eslint, prettier

scaffold blocks test
  __tests__/Blocks.test.tsx
  components/Blocks.tsx
Due: eslint, prettier

add blocks tests
  __tests__/Blocks.test.tsx
  __tests__/__mocks__/mockPost.ts
  __tests__/__snapshots__/Blocks.test.tsx.snap
  components/Blocks.tsx
Due: eslint, prettier

add backtotop component
  __tests__/BackToTop.test.tsx
  __tests__/Blocks.test.tsx
  __tests__/__snapshots__/BackToTop.test.tsx.snap
  app/layout.tsx
  components/BackToTop.tsx
Due: eslint, prettier

global button styles
  __tests__/__snapshots__/BackToTop.test.tsx.snap
  __tests__/__snapshots__/Navigation.test.tsx.snap
  __tests__/__snapshots__/SocialLinks.test.tsx.snap
  app/globals.css
  components/BackToTop.tsx
  components/Navigation.tsx
  components/SocialLinks.tsx
Due: eslint, stylelint, prettier

rotate logo ;)
  __tests__/__snapshots__/Header.test.tsx.snap
  components/Header.tsx
Due: eslint, prettier

add seo data
  __tests__/yoastSeo.test.ts
  app/[slug]/page.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/globals.css
  app/page.tsx
  lib/functions.ts
Due: eslint, stylelint, prettier

use blocks on pages
  app/[slug]/page.tsx
Due: eslint, prettier

add photos route
  __tests__/__snapshots__/Header.test.tsx.snap
  __tests__/__snapshots__/Navigation.test.tsx.snap
  lib/config.ts
Due: eslint, prettier

exclude
  vitest.config.js
Due: eslint, prettier

file reorganization
  app/[slug]/page.tsx
  app/blog/[slug]/page.tsx
  app/page.tsx
  components/Footer/Footer.module.css
  components/Footer/Footer.tsx
  components/Footer/__snapshots__/Footer.test.tsx.snap
  components/Header/__snapshots__/Header.test.tsx.snap
  components/Lightbox/Lightbox.test.tsx
  components/Lightbox/Lightbox.tsx
  components/Lightbox/__snapshots__/Lightbox.test.tsx.snap
  components/Lightbox/index.ts
  components/Navigation/Navigation.module.css
  components/Navigation/Navigation.test.tsx
  components/Navigation/Navigation.tsx
  components/Navigation/__snapshots__/Navigation.test.tsx.snap
  components/Photos/Photos.test.tsx
  components/Photos/Photos.tsx
  components/Photos/__snapshots__/Photos.test.tsx.snap
  components/Photos/index.ts
  components/SocialLinks/SocialLinks.module.css
  components/SocialLinks/SocialLinks.tsx
  components/SocialLinks/__snapshots__/SocialLinks.test.tsx.snap
  components/index.ts
  lib/api/github.test.ts
  lib/api/github.ts
  lib/api/index.ts
  lib/api/wordpress.test.ts
  lib/api/wordpress.ts
  lib/mocks/mockRepos.ts
  lib/types.d.ts
Due: eslint, stylelint, prettier

create new WP_Query class
  lib/api/WP_Query.ts
Due: eslint, prettier

use WP_Query
  app/page.tsx
Due: eslint, prettier

add more query args. update tests. update homepage args. add export
  app/page.tsx
  lib/api/WP_Query.test.ts
  lib/api/WP_Query.ts
  lib/api/index.ts
Due: eslint, prettier
