Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --ignore-path .eslintignore --fix

stylelint:
  run: npx stylelint {staged_files} --ignore-path .stylelintignore --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .prettierignore --write

add blog
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  components/Header.tsx
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

fix post title
  app/blog/[slug]/page.tsx
Due: eslint, prettier

update hook
  .lefthook.yml
Due: prettier

level up queries with types
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  lib/api.ts
  lib/functions.ts
  lib/types.ts
Due: eslint, prettier

set revalidate
  lib/api.ts
Due: eslint, prettier

fix embeds
  app/blog/[slug]/page.tsx
  app/globals.css
Due: eslint, stylelint, prettier

add sitemap
  app/sitemap.ts
  lib/api.ts
Due: eslint, prettier

sitemap
  app/sitemap.ts
Due: eslint, prettier

add single page support
  app/[slug]/page.tsx
  app/robots.ts
Due: eslint, prettier

use notFound()
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/photos/page.tsx
Due: eslint, prettier

link to other pgaes
  components/Header.tsx
Due: eslint, prettier

update queries. add photos. add more pages.
  app/blog/page.tsx
  app/page.tsx
  app/sitemap.ts
  components/Header.tsx
  lib/api.ts
  lib/types.ts
  next.config.ts
Due: eslint, prettier

pass props
  app/blog/page.tsx
  app/sitemap.ts
  lib/api.ts
Due: eslint, prettier

style homepage gallery
  app/globals.css
Due: stylelint, prettier

update header
  app/layout.tsx
  components/Header.tsx
  components/Navigation.tsx
Due: eslint, prettier

don't show image
  app/blog/page.tsx
Due: eslint, prettier

update assertion job
  .github/workflows/assertions.yml
Due: prettier

move nav to config
  components/Navigation.tsx
  lib/config.ts
Due: eslint, prettier

move types to root. use correct extension
  types.d.ts
Due: eslint, prettier

run tests pre-push
  .lefthook.yml
Due: prettier

update import paths
  app/sitemap.ts
  lib/api.ts
Due: eslint, prettier

include lib for coverage
  vitest.config.js
Due: eslint, prettier

add mocks
  __tests__/__mocks__/index.ts
  __tests__/__mocks__/mockPost.ts
  __tests__/__mocks__/mockRepos.ts
Due: eslint, prettier

add more tests to reach 100% coverage
  __tests__/Navigation.test.tsx
  __tests__/Photos.test.tsx
  __tests__/__snapshots__/Header.test.tsx.snap
  __tests__/__snapshots__/Navigation.test.tsx.snap
  __tests__/__snapshots__/Photos.test.tsx.snap
  __tests__/formatDate.test.ts
  __tests__/query.test.ts
  components/Header.tsx
  components/Lightbox.tsx
  components/Photos.tsx
Due: eslint, prettier

add flex wrap
  components/Navigation.tsx
Due: eslint, prettier

update snap
  __tests__/__snapshots__/Navigation.test.tsx.snap
Due: none

move types
  __tests__/__mocks__/mockPost.ts
  __tests__/__mocks__/mockRepos.ts
  app/sitemap.ts
  lib/api.ts
  types/types.d.ts
Due: eslint, prettier

move types
  types.d.ts
Due: eslint, prettier

move types
  __tests__/__mocks__/mockPost.ts
  __tests__/__mocks__/mockRepos.ts
  app/sitemap.ts
  lib/api.ts
Due: eslint, prettier

move vitest setup
  vitest.config.js
  vitest.setup.ts
Due: eslint, prettier

rename to api.test.ts
  __tests__/api.test.ts
Due: eslint, prettier

add favicon
  app/favicon.ico
Due: none

add rss feed
  app/feed.xml/route.ts
  lib/api.ts
  package-lock.json
  package.json
  types.d.ts
Due: eslint, prettier

add redirects
  next.config.ts
Due: eslint, prettier

add google font
  app/fonts/GeistMonoVF.woff
  app/fonts/GeistVF.woff
  app/layout.tsx
  tailwind.config.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
  prettier: any of: *.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}
